body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(241, 241, 207);
}
h1, h2, h3,.subheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
a:hover{
    color: rgb(244, 202, 123) !important;
}